{{#if this.shouldShowAds}}
  <div class="aroma-ads-banner aroma-ads-topic-list-top">
    <div class="aroma-ads-label">
      {{i18n "aroma_ads_banner.advertisement"}}
    </div>
    <div class="aroma-ads-content">
      {{{this.adHtml}}}
    </div>
  </div>
{{/if}}

